.DS_STORE
/nvim/.github/
/nvim/.gitignore
/nvim/.git/
.idea

# Machine-specific symlinks (created by setup scripts)
ghostty/config.machine.conf
ghostty/theme.conf
alacritty/config.machine.toml
kitty/config.machine.conf
hypr/envs.machine.conf
hypr/autostart.machine.conf
hypr/monitors.machine.conf
