/* Catppuccin Mocha colors */
@define-color base   #1e1e2e;
@define-color mantle #181825;
@define-color crust  #11111b;

@define-color text     #cdd6f4;
@define-color subtext0 #a6adc8;
@define-color subtext1 #bac2de;

@define-color surface0 #313244;
@define-color surface1 #45475a;
@define-color surface2 #585b70;

@define-color overlay0 #6c7086;
@define-color overlay1 #7f849c;
@define-color overlay2 #9399b2;

@define-color blue      #89b4fa;
@define-color lavender  #b4befe;
@define-color sapphire  #74c7ec;
@define-color sky       #89dceb;
@define-color teal      #94e2d5;
@define-color green     #a6e3a1;
@define-color yellow    #f9e2af;
@define-color peach     #fab387;
@define-color maroon    #eba0ac;
@define-color red       #f38ba8;
@define-color mauve     #cba6f7;
@define-color pink      #f5c2e7;
@define-color flamingo  #f2cdcd;
@define-color rosewater #f5e0dc;

/* Global styles */
* {
  border: none;
  border-radius: 0;
  font-family: "TX-02", "Symbols Nerd Font Mono";
  font-size: 12px;
  min-height: 0;
  background-color: @base;
  color: @text;
}

window#waybar {
  background-color: @base;
}

/* Workspaces */
#workspaces button {
  padding: 0 6px;
  margin: 0 1.5px;
  background-color: transparent;
  color: @subtext0;
}

#workspaces button.active {
  color: @blue;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces button:hover {
  background-color: @surface0;
}

/* Left modules */
#workspaces {
  margin-left: 8px;
}

/* Center modules */
#clock {
  margin-left: 8.75px;
  color: @text;
}

/* Right modules */
#tray,
#bluetooth,
#network,
#pulseaudio,
#cpu,
#battery {
  padding: 0 10px;
  margin: 0 2px;
}

#tray {
  margin-right: 15px;
}

#bluetooth {
  color: @blue;
}

#network {
  color: @green;
}

#pulseaudio {
  color: @yellow;
}

#cpu {
  color: @peach;
}

#battery {
  color: @sky;
}

#battery.warning {
  color: @yellow;
}

#battery.critical {
  color: @red;
}

#battery.charging {
  color: @green;
}

/* System tray */
#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
  background-color: @red;
}

/* Tooltips */
tooltip {
  background-color: @surface0;
  border: 1px solid @surface2;
  border-radius: 5px;
}

tooltip label {
  color: @text;
}
