/* Catppuccin Mocha theme for Walker */
/* https://github.com/catppuccin/catppuccin */

@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

@define-color window_bg_color @base;
@define-color accent_bg_color @mauve;
@define-color theme_fg_color @text;
@define-color error_bg_color @red;
@define-color error_fg_color @base;

* {
  all: unset;
  font-family: 'TX-02', 'Symbols Nerd Font Mono';
  font-size: 12px;
}

.normal-icons {
  -gtk-icon-size: 12px;
}

.large-icons {
  -gtk-icon-size: 16px;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  box-shadow:
    0 19px 38px rgba(0, 0, 0, 0.3),
    0 15px 12px rgba(0, 0, 0, 0.22);
  background: @window_bg_color;
  padding: 12px;
  border-radius: 0;
  border: 1px solid @surface0;
}

.preview-box,
.elephant-hint,
.placeholder {
  color: @theme_fg_color;
}

.box {
}

.search-container {
  border-radius: 0;
}

.input placeholder {
  opacity: 0.5;
  color: @subtext0;
}

.input selection {
  background: @surface2;
}

.input {
  caret-color: @mauve;
  background: @surface0;
  padding: 8px;
  color: @theme_fg_color;
}

.input:focus,
.input:active {
  border: 1px solid @mauve;
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
  color: @theme_fg_color;
}

child {
}

.item-box {
  border-radius: 0;
  padding: 8px;
}

.item-quick-activation {
  background: alpha(@accent_bg_color, 0.25);
  border-radius: 0;
  padding: 8px;
}

child:hover .item-box,
child:selected .item-box {
  background: alpha(@accent_bg_color, 0.25);
}

.item-text-box {
}

.item-subtext {
  font-size: 10px;
  opacity: 0.5;
  color: @subtext1;
}

.providerlist .item-subtext {
  font-size: unset;
  opacity: 0.75;
}

.item-image-text {
  font-size: 18px;
}

.preview {
  border: 1px solid @surface0;
  border-radius: 0;
  color: @theme_fg_color;
}

.calc .item-text {
  font-size: 14px;
  color: @green;
}

.calc .item-subtext {
  color: @subtext1;
}

.symbols .item-image {
  font-size: 16px;
}

.todo.done .item-text-box {
  opacity: 0.25;
}

.todo.urgent {
  font-size: 14px;
  color: @red;
}

.todo.active {
  font-weight: bold;
  color: @mauve;
}

.bluetooth.disconnected {
  opacity: 0.5;
}

.preview .large-icons {
  -gtk-icon-size: 24px;
}

.keybinds-wrapper {
  border-top: 1px solid @surface0;
  font-size: 10px;
  opacity: 0.5;
  color: @theme_fg_color;
}

.keybinds {
}

.keybind {
}

.keybind-bind {
  font-weight: bold;
  text-transform: lowercase;
  color: @mauve;
}

.keybind-label {
}

.error {
  padding: 8px;
  background: @error_bg_color;
  color: @error_fg_color;
}

:not(.calc).current {
  font-style: italic;
}

.preview-content.archlinuxpkgs {
  font-family: monospace;
}
